In [1]:
#importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# using a library named Beautiful soup to do webscrap and urllib for accessing url's
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [3]:
#loading the url
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html = urlopen(url)

In [4]:
wrap = BeautifulSoup(html, 'lxml')

In [5]:
# Get the title
title = wrap.title
print(title)

<title>List of postal codes of Canada: M - Wikipedia</title>

In [6]:
# Get the rows in the page by using below method and save it another DF
rows = wrap.find_all('tr')

defined_rows = rows[0:181]

In [7]:
# Going to parse the values in tr and td and add it in DataFrame by using looping
l = []
for tr in defined_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
dff = pd.DataFrame(l, columns=["Postal Code", "Borough", "Neighbourhood"])
df = dff.replace(r'\n',  ' ', regex=True)
df.drop(df.head(1).index, inplace=True)
df

,Postal Code,Borough,Neighbourhood
1,M1A,Not assigned,Not assigned
2,M2A,Not assigned,Not assigned
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
5,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
176,M5Z,Not assigned,Not assigned
177,M6Z,Not assigned,Not assigned
178,M7Z,Not assigned,Not assigned
179,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
180,M9Z,Not assigned,Not assigned

In [8]:
df['Borough'] = df['Borough'].astype('str')

In [9]:
# Check for Values "Not assigned" in Borough column
my_df = df[~df["Borough"].str.contains("Not assigned")]

In [10]:
#Print the DataFrame values without "Not assigned" values in Borough
my_df

,Postal Code,Borough,Neighbourhood
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
5,M5A,Downtown Toronto,"Regent Park, Harbourfront"
6,M6A,North York,"Lawrence Manor, Lawrence Heights"
7,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
161,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
166,M4Y,Downtown Toronto,Church and Wellesley
169,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
170,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
179,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### Checking for Values in Neighbourhood contains "Not Assigned"

In [11]:
dum_val = my_df[my_df["Neighbourhood"].str.contains("Not assigned")]
dum_val

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

#### There is no Values named "Not assigned" in Neighbourhood

In [12]:
# Shape of the DataFrame -> 
my_df.shape

(103, 3)